doctype html
html
head
  title COMPARITY: Destination Not Found
  meta(name="robots" content="noindex")
  meta(name=viewport content="width=device-width, initial-scale=1")
  link(rel="stylesheet" href="/css/default.min.css")
body
  div(class="container")
    div(class="col-sm-6 col-sm-offset-3")
        center
            h2 Oops... well this is awkward.
            h4 We're sorry, it seems the page you
            h4 were looking for doesn't exist!
            h4 Perhaps you would like to visit these locations instead.
            a(href="/about" class="btn btn-default btn-sm") About
            a(href="/" class="btn btn-default btn-sm") Search

link(rel='stylesheet',  href="/bower_components/bootstrap/dist/css/bootstrap.min.css")
link(rel='stylesheet',  href="/css/styles.css")
script(src="/bower_components/jquery/dist/jquery.min.js")
