html
head
  title SpotFax
  meta(charset='utf-8')
  link(rel='stylesheet',  href="/bower_components/bootstrap/dist/css/bootstrap.min.css")
  style.
    .block {
        height: 50%;
        border: 1px solid gray;
        padding: 1px;
    }
body
    div(class='report')
        div(class='row')
            div(name='representation' id='representation' class='col-xs-12 col-sm-4 col-md-4 col-lg-4 block')
                center
                    h1 Represenation
            div(name='school' id='school' class='col-xs-12 col-sm-4 col-md-4 col-lg-4 block')
                center
                    h1 School
            div(name='publicworks' id='publicworks' class='col-xs-12 col-sm-4 col-md-4 col-lg-4 block')
                center
                    h1 Public Works
        div(class='row')
            div(name='publicsafety' id='publicsafety' class='col-xs-12 col-sm-4 col-md-4 col-lg-4 block')
                center
                    h1 Public Safety
            div(name='news' id='news' class='col-xs-12 col-sm-4 col-md-4 col-lg-4 block')
                center
                    h1 News
            div(name='participation' id='participation' class='col-xs-12 col-sm-4 col-md-4 col-lg-4 block')
                center
                    h1 Participation