doctype html
html
head
  title Property Buddy
  meta(charset='utf-8')
  link(rel='stylesheet',  href="/bower_components/bootstrap/dist/css/bootstrap.min.css")
  style.
    input {
      width: 100%;
      padding: 3%;
      border: 2px solid rgb(17, 74, 244);
      border-radius: 4px;
    }
    .p-lg {
      font-size: 56px;
    }
    .title {
      font-size: 90px;
    }
body(style="margin-top:20px;")
  div(class="container")
    div(class="row")
      div(class="col-md-2 col-lg-2")
      div(class="col-xs-12 col-sm-12 col-md-8 col-lg-8")
        form(id="form")
          div(id="locationField")
            center
              h1(class="title") Property Buddy
              input(id="autocomplete" name="address" class="p-lg" placeholder="Enter any address" onFocus="geolocate()" type="text")
              button(type="submit" class="btn btn-lg btn-primary p-lg" style="margin-top:10px" onclick="go()") Submit
              p(class="p-lg") or
              button(type="button" name="loc" class="glyphicon glyphicon-map-marker btn btn-lg btn-primary p-lg" onclick="go()")
              p(class="p-lg") Use Your Location
      div(class="col-md-2 col-lg-2")
script(src="/bower_components/jquery/dist/jquery.min.js")
script(src="/bower_components/bootstrap/dist/js/bootstrap.min.js")
script(src="/bower_components/jquery-ui/jquery-ui.min.js")
link(rel="stylesheet"     
    href="/bower_components/jquery-ui/themes/smoothness/jquery-ui.css")
script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAaqbCGgntbeiXizHHV8sWyI9ODyUrdtlc&libraries=places&callback=initAutocomplete" async defer)
script(src="/js/index.js")
      
  
