doctype html
html
head
  title SpotFax - Search
  meta(charset='utf-8')
  link(rel='stylesheet',  href="/bower_components/bootstrap/dist/css/bootstrap.min.css")
  link(rel='stylesheet',  href="/css/styles.css")
  style.
    @media only screen 
      and (min-device-width: 320px) 
      and (max-device-width: 480px)
      and (-webkit-min-device-pixel-ratio: 2) {
        h2 {
          font-size: 40px !important;
        }
        .p-md {
          font-size: 40px !important;
        }
       
    }
body
  div(class="container")
    div(class="row")
      div(class="col-md-2 col-lg-2")
      div(class="col-xs-12 col-sm-12 col-md-8 col-lg-8")
        form(id="form")
          div(id="locationField")
            center
              h1(class="title") SpotFax
              h2 Get the facts for any spot.
              p(class="p-md" style="text-align:center")
                a(href="https://github.com/kmcurry/property-buddy/tree/master/locations" target='top') (where supported)
                //- a(id="locations-list" href="" title="") *
              input(id="autocomplete" name="address" class="p-lg controls" placeholder="Enter any address" onFocus="geolocate()" type="text")
              button(type="submit" class="btn btn-lg btn-primary p-lg" style="margin-top:20px" onclick="go()") Submit
              p(class="p-lg") or
              button(type="button" name="loc" class="glyphicon glyphicon-map-marker btn btn-lg btn-primary p-lg" onclick="go()")
              p(class="p-lg") Use Your Location
      div(class="col-md-2 col-lg-2")
    div(class="row")
      center
        a(class="p-md" href="/about") About this site
  input(type="hidden" id="locations" value=""+locations)
script(src="/bower_components/jquery/dist/jquery.min.js")
script(src="/bower_components/bootstrap/dist/js/bootstrap.min.js")
script(src="/bower_components/jquery-ui/jquery-ui.min.js")
link(rel="stylesheet"     
    href="/bower_components/jquery-ui/themes/smoothness/jquery-ui.css")
script(src="/js/index.js")
script(src="/js/google.js")
script(src="https://maps.googleapis.com/maps/api/js?key="+GApisKey+"&libraries=places&callback=initAutocomplete" async defer)

      
  
