div(class="modal fade" tabindex="-1" role="dialog" id="notice")
  div(class="modal-dialog" role="document")
    div(class="modal-content")
      div(class="modal-header")
        h1(class="modal-title" style="text-align:center") Evacuation Zone
        button(type="button" class="close" data-dismiss="modal" aria-label="Close")
          span(aria-hidden="true")
      div(class="modal-body" style="font-size:100px;text-align:center")
        div(id="modal-body")
        div(id="modal-detail" style="font-size:30px !important;")
            p
                a(href="https://knowyourzone.com") knowyourzone.com
            p
                a(href="https://vaemergency.gov") vaemergency.gov
            p
                a(href="https://fema.gov") fema.gov
      div(class="modal-footer")
        center
            button(type="button" class="btn btn-primary" data-dismiss="modal") Close