.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
  }
  
  .modal-dialog {
    position: fixed;
    margin: 0;
    width: 100%;
    height: 100%;
    padding: 0;
  }
  
  .modal-content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border: 2px solid #3c7dcf;
    border-radius: 0;
    box-shadow: none;
  }
  
  .modal-header {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 50px;
    padding: 10px;
    background: #6598d9;
    border: 0;
  }
  
  .modal-title {
    font-weight: 300;
    font-size: 2em;
    color: #fff;
    line-height: 30px;
  }
  
  .modal-body {
    font-size:200px;
    text-align:center;
    position: absolute;
    top: 50px;
    bottom: 60px;
    width: 100%;
    font-weight: 300;
    overflow: auto;
  }
  
  .modal-footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 60px;
    padding: 10px;
    background: #f1f3f5;
  }

  .btn {
    height: 40px;
    border-radius: 0;
  
    // focus
    &:focus,
    &:active,
    &:active:focus {
      box-shadow: none;
      outline: none;
    }
  }
  
  .btn-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -20px;
    margin-left: -100px;
    width: 200px;
  }
  
  .btn-primary,
  .btn-primary:hover,
  .btn-primary:focus,
  .btn-primary:active {
    font-weight: 300;
    font-size: 1.6rem;
    color: #fff;
    color: lighten(#484b5b, 20%);
    color: #fff;
    text-align: center;
    background: #60cc69;
    border: 1px solid #36a940;
    border-bottom: 3px solid #36a940;
    box-shadow: 0 2px 4px rgba(0,0,0,0.15);
  
    // active
    &:active {
      border-bottom: 1px solid #36a940;
    }
  }
  
  .btn-default,
  .btn-default:hover,
  .btn-default:focus,
  .btn-default:active {
    font-weight: 300;
    font-size: 1.6rem;
    color: #fff;
    text-align: center;
    background: darken(#dcdfe4, 10%);
    border: 1px solid darken(#dcdfe4, 20%);
    border-bottom: 3px solid darken(#dcdfe4, 20%);
  
    // active
    &:active {
      border-bottom: 1px solid darken(#dcdfe4, 20%);
    }
  }
  
  .btn-secondary,
  .btn-secondary:hover,
  .btn-secondary:focus,
  .btn-secondary:active {
    color: #cc7272;
    background: transparent;
    border: 0;
  }